/*WINTER*/

body{
    background-color: rgb(222, 253, 253);
   }

#swapStyleButton {
    background-color: #4ea3a4;
}

.fixed-header {
    background: linear-gradient(to bottom,  rgb(108, 196, 194), rgba(122, 248, 134, 0));
   }
   
.swap-style-button, .quote-button {
    background-color: #1ea8ca;
    color: #fff;
}
   
.quote-display {
    background-color: #b4e2f5;
  }