body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: opacity 0.5s ease-in-out;
}


h1 {
    font-size: 6vw;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 2vw;
    text-align: center;
    margin-bottom: 20px;
    font-family: Times New Roman, sans-serif;
}

.poem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.poem-section {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poem {
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 1vw;
    font-family: Times New Roman, sans-serif;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.poem:hover {
    transform: scale(1.2);
}

/* Swap button */
.swap-style-button {
    background-color: #776060;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1vw;
    border-radius: 50%;
    opacity: 0.3;
    transition: opacity 0.3s ease;
    z-index: 2100;
}

.swap-style-button:hover {
    opacity: 1;
}

.base-img {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    pointer-events: none;
}



/* __________________________________________________________________________________________*/






.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}


.header-content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.current-season {
    font-size: 1.2vw;
    color: #333;
    position: absolute;
    left: 20px; 
}


.what-is-this {
    font-size: 1.2vw;
    text-decoration: none;
    color: #555;
    position: absolute;
    right: 20px; 
}

.what-is-this:hover {
    color: #000;
}


.logo {
    width: 5%;
    height: auto;
    position: absolute;
    left: 50% ;
    transform: translateX(-50%);
}


/* "What is this?" link styling __________________________________________________________________*/
.what-is-this {
    font-size: 1.2vw;
    color: #555;
    text-decoration: none;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.what-is-this:hover {
    color: #000;
}

.info-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
    backdrop-filter: blur(5px); 
    z-index: 2200;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    background: #FEFEF3;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.inforab-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.close-button {
    background-color: #776060;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}




/* Container for images */
.image-container {
    position: relative; 
    z-index: -1;
  }
  

  .scroll-image {
    position: absolute;
    width: 25%; 
    height: auto;
    margin: 10px; 
    z-index: -1; 
  }
  

  .scroll-image:nth-child(even) {
    left: 1%; 
    top: calc(550px * (var(--i) - 1) - 50vh);

  }
  
  .scroll-image:nth-child(odd) {
    right: 1%;
    top: calc(550px * var(--i)); 
  }

  .scroll-image:nth-child(1) {
    background: url('images/pic1.webp') no-repeat center center;
    background-size: cover;
    --i: 1; 
  }
  
  .scroll-image:nth-child(2) {
    background: url('images/pic2.webp') no-repeat center center;
    background-size: cover;
    --i: 2;
  }
  
  .scroll-image:nth-child(3) {
    background: url('images/pic3.webp') no-repeat center center;
    background-size: cover;
    --i: 3;
  }
  
  .scroll-image:nth-child(4) {
    background: url('images/pic4.webp') no-repeat center center;
    background-size: cover;
    --i: 4;
  }
  
  .scroll-image:nth-child(5) {
    background: url('images/pic5.webp') no-repeat center center;
    background-size: cover;
    --i: 5;
  }
  
  .scroll-image:nth-child(6) {
    background: url('images/pic6.webp') no-repeat center center;
    background-size: cover;
    --i: 6;
  }
  
  .scroll-image:nth-child(7) {
    background: url('images/pic7.webp') no-repeat center center;
    background-size: cover;
    --i: 7;
  }
  
  .scroll-image:nth-child(8) {
    background: url('images/pic8.webp') no-repeat center center;
    background-size: cover;
    --i: 8;
  }
  
  .scroll-image:nth-child(9) {
    background: url('images/pic9.webp') no-repeat center center;
    background-size: cover;
    --i: 9;
  }
  
  .scroll-image:nth-child(10) {
    background: url('images/pic10.webp') no-repeat center center;
    background-size: cover;
    --i: 10;
  }
  