/*SPRING*/

body{
background-color: rgb(236, 255, 223);
}

#swapStyleButton {
    background-color: #d5faa6;
}

.fixed-header {
    background: linear-gradient(to bottom, rgb(174, 253, 71), rgba(122, 248, 134, 0));
   }
   
   
.swap-style-button,.quote-button{
    background-color: #02460d;
    color: #fff;
}

.quote-display {
    background-color: #b6ffb6;
  }