/*WINTER*/

body{
    background-color: rgb(222, 253, 253);
    animation-name: backgr;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes backgr {
    0% {
      background-color:rgb(222, 253, 253);
    }
    50% {
      background-color: rgb(255, 255, 255);
    }
    100% {
      background-color: rgb(222, 253, 253);
    }
  }
  o {background-color: rgb(255, 255, 255)}

#swapStyleButton, .days-list button{ 
    background-color: #4ea3a4;
}

.fixed-header {
    background: linear-gradient(to bottom,  rgb(108, 196, 194), rgba(122, 248, 134, 0));
 }
   
.swap-style-button, .quote-button, .days-button {
    background-color: #1ea8ca;
    color: #fff;
}
   
.quote-display {
    background-color: #b4e2f5;
}

.days-list button:hover {
    background-color: #14a3db;
}

::-webkit-scrollbar-thumb {
    background: rgb(108, 196, 194);
    border-radius: 10px;
}