/*SUMMER*/

body{
    background-color: rgb(255, 252, 220);
    }

 #swapStyleButton {
        background-color: #dae233;
 }

 .fixed-header {
    background: linear-gradient(to bottom, rgb(216, 202, 48), rgba(122, 248, 134, 0));
 }
   
 .swap-style-button {
      background-color: #bb9e20;
      color: #ffffff;
 }