/*AUTUMN*/

body{
    background-color: rgb(248, 210, 178);
    }

 #swapStyleButton {
        background-color: #e18d06;
 }

 .fixed-header {
        background: linear-gradient(to bottom,rgb(221, 136, 67), rgba(122, 248, 134, 0));
       }
       
.swap-style-button, .quote-button {
              background-color: #855d07;
              color: #fff;
 }

 .quote-display {
       background-color: rgb(255, 198, 151);
 }