/*AUTUMN*/

body{
    background-color: rgb(248, 210, 178);
    }

 #swapStyleButton {
        background-color: #e18d06;
 }

 .fixed-header {
        background: linear-gradient(to bottom,rgb(255, 180, 118), rgba(122, 248, 134, 0));
       }
       