/*SPRING*/

body {
    background-color: rgb(236, 255, 223);
    animation-name: backgr;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes backgr {
    0% {
      background-color: rgb(236, 255, 223);
    }
    50% {
      background-color: rgb(237, 255, 208);
    }
    100% {
      background-color: rgb(236, 255, 223);
    }
  }
  o {background-color: rgb(237, 255, 208)}


#swapStyleButton, .days-list button {
    background-color: #d5faa6;
}

.fixed-header {
    background: linear-gradient(to bottom, rgb(174, 253, 71), rgba(122, 248, 134, 0));
   }
   
   
.swap-style-button,.quote-button, .days-button{
    background-color: #02460d;
    color: #fff;
}

.quote-display {
    background-color: #b6ffb6;
  }

::-webkit-scrollbar-thumb {
    background: rgb(174, 253, 71);
    border-radius: 10px;
  }