/*SUMMER*/

body{
    background-color: rgb(253, 250, 215);
    }

 #swapStyleButton {
        background-color: #dae233;
 }

 .fixed-header {
    background: linear-gradient(to bottom, rgb(167, 162, 111), rgba(122, 248, 134, 0));
   }
   