/*SPRING*/

body{
background-color: rgb(236, 255, 223);
}

#swapStyleButton {
    background-color: #d5faa6;
}

.fixed-header {
    background: linear-gradient(to bottom, rgb(174, 253, 71), rgba(122, 248, 134, 0));
   }
   